
    <div id="setupDetail" class="wrapper">


        <!-- /// BEGIN navbar partial/header-block.handlebars/// -->
        {{> header-block}}
        <!-- /// END navbar /// -->


        <div class="content-wrapper">



            <!-- /// BEGIN page level navbar /// -->
            <div id="" class="navbar-sub-wrapper">
                <!-- Left Nav -->
                <div class="col1">
                    <div class="button float-left">
                        {{!-- EVENT LISTNER HERE --}}
                        <div id="btn-back-setupitems" class="btn-small"> Back </div>
                    </div>
                </div>
                <!-- Title -->
                <div class="col2">
                    <h2> Maintenance Items </h2>
                </div>
                <!-- Right Nav -->
                <div class="col3">
                    <div class="button float-right">
                        <!-- none -->
                    </div>
                </div>
            </div>
            <!-- /// END page level navbar /// -->



            <!-- /// BEGIN main content /// -->
            <div class="content-wrapper-outer">
                <div class="content-wrapper-inner">

                    <h3> View and Edit Item Details </h3>

                    {{!-- {{#each items}} --}}
                    {{!-- {{#each this.items}} --}}

                    {{#each items}}
                    <!-- BEGIN Item -->
                    <div class="item-wrapper">
                        <!-- BEGIN Titlebar -->
                        <div class="item-block">
                            <div class="item-details">
                                <div class="item-titlebar">
                                    <div><p> {{type}}</p></div>
                                </div>
                            </div>
                        </div>
                        <!-- END Titlebar -->
                        <!-- BEGIN Fields-->
                        <div class="item-fields-block">
                                <!-- INPUT: brand -->
                            <div>
                                <label for="brand">Brand</label>
                                <input type="text" name="brand" id="item-brand" value="{{manufacturer}}" />
                            </div>
                            <!-- INPUT: serial -->
                            <div>
                                <label for="serial">Serial #</label>
                                <input type="text" name="serial" id="item-serial" value="{{serial_number}}"/>
                            </div>
                            <!-- INPUT: note -->
                            <div>
                                <textarea placeholder="Add some notes here..." id="item-note">{{items_note}}</textarea>
                            </div>
                        <!-- END Fields-->
                        </div>

                        {{#each tasks}}
                        <!-- BEGIN Tasks-->
                        <div class="item-tasks-block">
                            <div class="item-tasks">
                                <div class="item-display"><p>{{task_name}}</p></div>
                                <div>
                                    <label for="last-performed">Last done</label>
                                    <input type="date" name="last-performed" id="last-performed" value="{{last_performed}}">
                                </div>
                            </div>
                        </div>
                        <!-- BEND Tasks-->
                        {{/each}}

                    </div>
                    <!-- END Item -->
                    {{/each}}

                    <!-- FORM ACTION -->
                    {{!-- EVENT LISTNER HERE --}}
                    <div class="item-action">
                       <div id="btn-itemsDetails" class="btn-big"> Done </div> 
                    </div>
 
                </div>
            </div>
            <!-- /// END main content /// -->


        </div>
    </div>